#landing-body {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    border-radius: 5px;
    width: 50%;
}

.app-title {
    text-align: center;
    color: #32376f;
    margin-top: auto;
    margin-bottom: 0;
}

.form-label {
    color: #32376f;
    margin-top: 3%;
}